 
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
    color: #516176 !important;
}

.text-center {
    text-align: center;
}
#menu a.navbar-brand {
    text-transform: uppercase;
    font-size: 22px;
    color: #598EF3;
    font-weight: 900;
}
#menu {
    padding: 8px;
}

.color {
    color: #598EF3;
}
.navbar{
    background-color: #132028;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    background-color:rgba(0,0,0,0.6);
}

#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 1px;
}

#menu.navbar-default .navbar-nav > li > a:hover {
    color: #598EF3;
}

a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    font-size: 24px;
    margin-top: 100px;
    border: 0px solid #E74C3C;
    transition: all 0.5s;
    border-radius: 50%;
    background-color: #598EF3;
}
a.fa.fa-angle-down:hover {
    background: #446FC1;
    text-decoration:none;
}
/*#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

#menu {
    padding: 20px;
    transition: all 0.8s;
}*/

header {
    background: url(../images/sky.jpg) no-repeat bottom center fixed;
    background-size: cover;
    color: #fff;
    position: relative;
    height: 100%;
}

}
header p {
	color: #fff;
	font-size: 22px;
}

.intro-text {
    position: relative;
    padding-top: 250px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 200px;
}

#services-section {
    padding: 80px 0;
    background-color: #eee;
}

.space {
    margin-top: 40px;
}

#services-section i.fa {
    font-size: 40px;
    border: 2px solid #598EF3;
    width: 100px;
    height: 100px;
    padding: 27px 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: all 0.7s;
    color: #598EF3;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

#services-section .service:hover>i.fa {
    border: 2px solid #598EF3;
    background: #598EF3;
    color: #ffffff;
}

#works-section {
    padding: 80px 0;
}

.section-title.center {
    padding: 30px 0;
}

.section-title h2, .section-title.center h2 {
    font-weight: 400;
    margin-bottom: 30px;
}
.clearfix {
    display: block;
}

.categories {
    padding-bottom: 30px;
    text-align: center;
}

ul, ol {
    padding: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}


ul.cat li {
    display: inline-block;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}
ol.type li {
    display: inline-block;
    margin-left: 20px;
}

ol.type li a.active {
    color: #598EF3;
    font-weight: bold;
}

ol.type li:after {
    content: ' | ';
    margin-left: 20px;
}

ol.type li a.active {
    color: #D2527F;
    font-weight: bold;
}
ol.type li a:hover {
    color: #D2527F;
    text-decoration:none;
}


.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item .hover-bg {
    height: 260px;
    overflow: hidden;
    position: relative;
}

.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.66);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.hover-bg .hover-text>i {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.hover-bg:hover .hover-text {
    opacity: 1;
}

/*.hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.66);
    padding: 25% 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
}*/

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

#about-section {
    padding: 80px 0;
    background-color: #eee;
}

.section-title.center {
    padding: 30px 0;
}

.section-title.center hr {
    height: 1px;
    width: 60px;
    text-align: center;
    position: relative;
    background: #598EF3;
    border: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

#about-section p {
    margin-top: 20px;
    margin-bottom: 30px;
}

#about-section i {
    float: left;
    display: block;
    margin-right: 15px;
    color: #598EF3;
    font-size: 24px;
}

#team-section {
    padding: 80px 0;
}

#team-section .thumbnail {
    background: transparent;
    border: 0;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

img.img-circle.team-img {
    width: 120px;
    height: 120px;
    border: 4px solid transparent;
    transition: all 0.5s;
}

#testimonials-section {
    background: url(../images/08.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 80px 0;
}
#team-section .thumbnail .caption {
    padding: 9px;
    color: #516176;
}

nav#footer {
    background: #222222;
    color: #ddd;
    padding: 30px 0 25px 0;
}

nav#footer .fnav {
    vertical-align: middle;
}

.pull-left {
    float: left !important;
}

nav#footer .fnav {
    vertical-align: middle;
}

.pull-right {
    float: right !important;
}

nav#footer {
    background: #222222;
    color: #ddd;
    padding: 30px 0 25px 0;
}


nav#footer .fnav {
    vertical-align: middle;
}

.pull-right {
    float: right !important;
}

ul.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

#contact-section {
    padding: 80px 0;
}

.section-title.center {
    padding: 30px 0;
}

#contact-section h3 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

#contact-section form {
    padding: 30px 0;
}

.form-group {
    margin-bottom: 15px;
}

#contact-section .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

#contact-section .btn {
    background: #598EF3;
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#footer i.fa {
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 4px 5px;
    color: #ddd;
    transition: all 0.5s;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

#footer i.fa:hover {
    color: #598EF3;